{# Main memu #}
{{ attach_library('aries/molecule--menu--main-aux') }}
<div class="molecule--menu--main-aux parent-container shrink cell flex-container">
  <div id="right-menu">
    {% include '@molecule/menu/menu.twig' with {
      items: main_aux.items,
    } %}
  </div>
</div>
