{{ attach_library('aries/organism--heading') }}

<div class="organism--heading grid-container">
	{% include '@molecule/copy/copy.twig' with {
        heading: heading,
        heading_tag: 'h1',
        heading_font_size: 'h1'
      }%}

</div>
