{{ attach_library('aries/molecule--npr-teaser') }}

{#
  heading
  node_body
  cta_text
  url
  button_classes
#}

{% set copy %}
{% include '@molecule/copy/copy.twig' with {
    heading: heading,
    heading_tag: 'h3',
    heading_font_size: 'h3',
    description: node_body,
    description_font_size: 'body-l',
  } %}
{% endset %}

<div class="molecule--npr-teaser">
	{{ copy }}
	<div class="npr-teaser-link">
		{% include '@atom/button/button.twig' with {
      url: url,
      title: cta_text,
      classes: button_classes|default(['button--tertiary']),
      tabindex: -1
    } %}
	</div>
</div>
