{# Nav Wrapper #}
{{ attach_library('aries/organism--header') }}
{{ attach_library('aries/plugable--js--responsive-toggle') }}

{# Main Menu Top Bar #}
<div class="main-menu--inner-wrapper grid-container organism--header" id="main-menu">
  <div class="grid-x align-justify align-middle">
    {# Site branding #}
    {% include '@molecule/site-branding/site-branding.twig' %}
    <div class="navigation-wrapper mobile_menu-auto cell">

      {% if service_nav__user_type_selector.items|length > 0 or service_nav__account_links.items|length > 0 or service_nav__buttons|length > 0 %}
        {# Service Nav Menu #}
        {% include '@molecule/menu/service-nav/service-nav.twig' %}
      {% endif %}

      {# Main Menu #}
      {% if main.items|length > 0 %}
        {% include '@molecule/menu/main/main.twig' %}
      {% endif %}
    </div>

    {# Main Aux Menu #}
    {% if main_aux.items|length > 0 %}
      {% include '@molecule/menu/main-aux/main-aux.twig' %}
    {% endif %}
    <div id="menu-toggle-button" data-responsive-toggle="main-menu" data-hide-for="mobile_menu">
      <button type="button" class="menu-toggle hide-for-mobile_menu" data-toggle="main-menu" aria-expanded="false">{{ 'Menu'|t }}
        <div class="menu-toggle-inner-wrapper">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>
  </div>
</div>
