{{ attach_library('aries/molecule--modal--form-modal') }}
<div class="molecule--modal--form-modal">
  {% embed '@molecule/modal/modal.twig' with {
    id: id,
    trigger_classes: 'button--media button ' ~ classes|join(' '),
  }%}

    {% block modal_content %}
      {{ modal_content }}
    {% endblock %}

    {% block trigger %}
      {{ trigger_label }}
    {% endblock %}

  {% endembed %}
</div>
