{{ attach_library('aries/layout--footer') }}

{# Footer #}
<div class="footer">
  {% include '@organism/footer/footer.twig' %}
</div>

{# Post-Footer #}
<div class="post-footer">
  {% include '@organism/post-footer/post-footer.twig' %}
</div>
