{{ attach_library('aries/molecule--background-media') }}
<div class="molecule--background-media responsive-background-object--{{ position|default('center') }} {{ additionalClasses|join(' ') }}">
  {{ media }}
</div>

