@each $name, $color in $contrasting-colors {
  .text-color-#{$name} {
    color: $color;
  }

  .bg-color-contrasting-#{$name},
  .sub-bg-color-contrasting-#{$name} > * {
    background-color: #{$color};
    color: $color--base--pure-white;
    p {
      color: $color--base--pure-white;
    }
    a {
      @include link(contrasting);
    }
  }

  .icon-color--contrasting-#{$name} {
    svg {
      fill: $color;
    }
  }

  .color-contrasting-#{$name} {
    --theme-accent-color-contrasting: #{$color};
  }
}

@each $name, $color in $vibrant-colors {
  .text-color-#{$name} {
    color: $color;
  }

  .bg-color-vibrant-#{$name},
  .sub-bg-color-vibrant-#{$name} * {
    background-color: #{$color};
    color: $color--base--warm-black;
    p {
      color: $color--base--warm-black;
    }
  }

  .icon-color--vibrant-#{$name} {
    svg {
      fill: $color;
    }
  }

  .color-vibrant-#{$name} {
    --theme-accent-color-vibrant: #{$color};
  }
}

@each $name, $gradient in $gradients {
  .gradient--#{"" + $name} {
    background-image: $gradient;
  }
}

@each $name, $color in $icon-colors {
  .icon-color--#{$name} {
    svg {
      fill: $color;
    }
  }
}