{{ attach_library('aries/organism--comparison-cards') }}

<div class="organism--comparison-cards" id="comparison-cards{{ unique_id }}">
    <h2>{{ heading }}</h2>
    {% set item_count = cards['#items']|length %}
    <div class="field field--name-field-p-comparison-cards field--type-entity-reference-revisions field--label-hidden top-item-count-{{ item_count }} field__items">
      {% for card in cards['#items'] %}
        <div class="field__item">
          {% include '@molecule/comparison-card/comparison-card.html.twig' with
            { card: card }
          %}
        </div>
      {% endfor %}
    </div>
</div>



