{{ attach_library('aries/molecule--menu--footer-regional-select') }}
<div class="molecule--menu--footer-regional-select">
  {% include '@molecule/menu/menu.twig' with {
    items: footer_regional_select.items,
  }%}
</div>
