{{ attach_library('aries/organism--links') }}

<div class="organism--links">
  <div class="organism--links--heading">
    {{ heading }}
  </div>
  <ul class="organism--links--items">
    {% include '@plugable/twig/render-items.twig' with {
      items: items,
      tag: 'li'
    }%}
  </ul>

</div>
