{{ attach_library('aries/organism--teaser-cards') }}
{% set header_size = header_size == 'text_size_h3' ? 'headers-h3' : 'headers-h2' %}

<div class="organism--teaser-cards {{ header_size }}">
  {% set column_size = 12 / columns %}

  {% include "@layout/grid/grid.twig" with {
    items: items,
    grid_attributes: {'class': ['grid-x', 'grid-margin-y', 'grid-margin-x big-y-axis', modifier]},
    cell_attributes: {'class': ['cell xsmall-12 medium-6 large-' ~ column_size]},
  } %}
</div>
