{{ attach_library('aries/organism--sidebar-resource-summary') }}
<div class="organism--sidebar-resource-summary">
  <h3>{{ title }}</h3>
  <div class="summary">
    {{ summary_output }}
  </div>
</div>
