{{ attach_library('aries/organism--person-overview') }}
<div class="organism--person-overview">
    <div class="organism--person-overview--copy">
      {% include '@molecule/copy/copy.twig' with {
        heading: heading,
        description: description,
        subhead_font_size: 'h4',
        description_font_size: 'body-m',
      }%}
    </div>
     <div class="organism--person-overview--inner-wrapper">
      {{ people }}
  </div>
</div>









