{# Main menu #}
{{ attach_library('aries/plugable--js--dropdown-menu') }}
{{ attach_library('aries/plugable--js--responsive-menu') }}
{{ attach_library('aries/molecule--menu--main') }}
<div class="molecule--menu--main parent-container">
  {% include '@molecule/menu/menu.twig' with {
      items: main.items,
      options: {
        data_responsive_menu: ['xsmall-accordion', 'mobile_menu-dropdown'],
        main_ul_classes: ['dropdown'],
      }
    } %}
</div>
