$header-styles: (
  xsmall: (
    'display-xl': (
      'font-size': 96,
      'line-height': 105.6,
    ),
    'display-l': (
      'font-size': 72,
      'line-height': 79.2,
    ),
    'display-m': (
      'font-size': 64,
      'line-height': 70.4,
    ),
    'display-s': (
      'font-size': 48,
      'line-height': 52.8,
    ),
    'display-xs': (
      'font-size': 32,
      'line-height': 35.2,
    ),
    'h1': (
      'font-size': 36,
      'line-height': 39.6,
    ),
    'h2': (
      'font-size': 32,
      'line-height': 38.4,
    ),
    'h3': (
      'font-size': 26,
      'line-height': 31.2,
    ),
    'h4': (
      'font-size': 22,
      'line-height': 26.4,
    ),
    'h5': (
      'font-family': $body-font-family,
      'font-size': 14,
      'line-height': 21,
    ),
    'body-xxl': (
      'font-family': $body-font-family,
      'font-size': 22,
      'line-height': 26,
    ),
    'body-xl': (
      'font-family': $body-font-family,
      'font-size': 22,
      'line-height': 26,
    ),
    'body-l': (
      'font-family': $body-font-family,
      'font-size': 18,
      'line-height': 30,
    ),
    'body-m': (
      'font-family': $body-font-family,
      'font-size': 16,
      'line-height': 27,
    ),
    'body-m-plus': (
      'font-family': $body-font-family,
      'font-size': 18,
      'line-height': 27,
    ),
    'body-s': (
      'font-family': $body-font-family,
      'font-size': 14,
      'line-height': 21,
    ),
    'label-xl': (
      'font-family': $body-font-family,
      'font-size': 26,
      'line-height': 39,
    ),
    'label-l': (
      'font-family': $body-font-family,
      'font-size': 20,
      'line-height': 30,
    ),
    'label-m': (
      'font-family': $body-font-family,
      'font-size': 16,
      'line-height': 24,
    ),
    'label-s': (
      'font-family': $body-font-family,
      'font-size': 14,
      'line-height': 21,
    ),
  ),
  large: (
    'display-xl': (
      'font-size': 192,
      'line-height': 211.2,
    ),
    'display-l': (
      'font-size': 144,
      'line-height': 158.4,
    ),
    'display-m': (
      'font-size': 96,
      'line-height': 105.6,
    ),
    'display-s': (
      'font-size': 64,
      'line-height': 70.4,
    ),
    'display-xs': (
      'font-size': 40,
      'line-height': 44,
    ),
    'h1': (
      'font-size': 48,
      'line-height': 52.8,
    ),
    'h2': (
      'font-size': 36,
      'line-height': 43.2,
    ),
    'h3': (
      'font-size': 26,
      'line-height': 31.2,
    ),
    'h3-plus': (
      'font-size': 32,
      'line-height': 38.2,
    ),
    'h4': (
      'font-size': 20,
      'line-height': 24,
    ),
    'h5': (
      'font-family': $body-font-family,
      'font-size': 14,
      'line-height': 21,
    ),
    'body-xxl': (
      'font-family': $body-font-family,
      'font-size': 26,
      'line-height': 31,
    ),
    'body-xl': (
      'font-family': $body-font-family,
      'font-size': 24,
      'line-height': 36,
    ),
    'body-l': (
      'font-family': $body-font-family,
      'font-size': 20,
      'line-height': 30,
    ),
    'body-m': (
      'font-family': $body-font-family,
      'font-size': 16,
      'line-height': 24,
    ),
    'body-s': (
      'font-family': $body-font-family,
      'font-size': 14,
      'line-height': 21,
    ),
    'label-xl': (
      'font-family': $body-font-family,
      'font-size': 26,
      'line-height': 39,
    ),
    'label-l': (
      'font-family': $body-font-family,
      'font-size': 20,
      'line-height': 30,
    ),
    'label-m': (
      'font-family': $body-font-family,
      'font-size': 16,
      'line-height': 24,
    ),
    'label-s': (
      'font-family': $body-font-family,
      'font-size': 14,
      'line-height': 21,
    ),
  ),
);

// Typography color profiles

$default-text-color-profile-targets: '.tagline, .subtext, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, a, .eyebrow, label, div';
