{{ attach_library('aries/organism--footer-regional-select') }}
<div class="organism--footer-regional-select">
  {# Footer menu #}
  <nav class="organism--footer-regional-select--menu" aria-label="footer regional select">
    {% include '@molecule/menu/footer-regional-select/footer-regional-select.twig' %}
  </nav>
</div>
