{{ attach_library('aries/layout--clean-white-header') }}
{{ attach_library('aries/plugable--js--sticky') }}
{{ attach_library('aries/plugable--scss--sticky') }}
<div class="layout--clean-white-header">
  <div id="header-content--wrapper" class="header-content--wrapper" data-sticky-container>
    <div class="header-content" data-sticky data-sticky-on="xsmall" data-margin-top="0"
         data-top-anchor="header-content--wrapper">
      <div class="grid-container header-content--inner-wrapper">
        {{ include('@molecule/site-branding/site-branding.twig', {logo, branding_no_link: (logo ? 1 : 0)}, with_context = false) }}
      </div>
    </div>
  </div>
</div>

