<!-- Kurtosys Fund Center Begin -->
<div class="organism--fund-center">
	<div id="fundCenter" {{ data_fundlist_attr }} data-ksys-app-template-id="ksys-app-fund-center" data-configuration-key="{{ ksys_config_key }}" data-style-key="default" data-theme-key="default" data-input-culture="{{ data_culture }}" data-input-client_code="internat" data-input-fund-list="{{ data_fundlist ? data_fundlist : '' }}"></div>
</div>

<!-- Kurtosys Fund Center End -->
