{{ attach_library('aries/molecule--menu--footer-meta') }}
<div class="molecule--menu--footer-meta">
  {% include '@molecule/menu/menu.twig' with {
    items: footer_meta.items,
    options: {
      menu_classes: ['flex-container'],
      main_ul_classes: ['mobile_menu-horizontal'],
    }
  }%}
</div>
