/*
  Config to control non color attributes of buttons default and hover state.
   Will automatically use real css props and values but you will need to handle
   custom props in the mixin:
   See docroot/themes/custom/aries/source/00-config/mixins/_buttons.scss
 */
$button-type-profiles: (
  primary: (
    // state
    initial: (
      font-family: $body-font-family,
      padding: 10px 24px,
      icon: true,
      icon-placement: after,
      text-decoration: none,
      border-width: 2px,
      font-size: 1rem,
      line-height: 1.5,
      border-radius:24px,
      font-weight: 500,
      border-style: solid,
      box-sizing: border-box,
    ),
  ),
  tertiary: (
    // state
    initial: (
      font-family: $body-font-family,
      padding: 12px 0 10px 0,
      icon: true,
      icon-placement: after,
      text-decoration: none,
      font-size: 1rem,
      line-height: 1.5,
      font-weight: 500,
      box-sizing: border-box,
      border-bottom: 2px solid transparent
    ),
  ),
  admin: (
    initial: (
      font-family: $body-font-family,
      padding: 4px 8px,
      icon: false,
      text-decoration: none,
      border-width: 1px,
      font-size: 14px,
      line-height: 1.5,
      border-radius: 0,
      font-weight: 500,
      border-style: solid,
      box-sizing: border-box,
    ),
  ),
);

/*
 Config that only controls the color tones of buttons inactive/active state.
 Will automatically use real css props and values but you will need to handle
 custom props in the mixin:

 See docroot/themes/custom/aries/source/00-config/mixins/_buttons.scss
*/
$button-color-profiles: (
  primary: (
    initial: (
      color: $color--base--pure-white,
      background-color: $color--base--warm-black,
      icon-color: $color--base--pure-white,
      border-color: $color--base--warm-black,
    ),
    hover: (
      color: $color--white,
      background-color: $color--base--warm-black,
      icon-color: $color--white,
      text-decoration: underline,
      text-underline-offset: 6px,
      text-decoration-thickness: 2px,
      border-color: $color--base--warm-black,
    ),
    focus: (
      background-color: $color--ui--focus-yellow,
      color: $color--base--warm-black,
      border-color: $color--base--warm-black,
    ),
    active: (
      background-color: $color--base--warm-black,
      border-color: $color--base--warm-black,
      opacity: 0.6,
      color: $color--base--pure-white,
    ),
    disabled: (
      background-color: $color--inactive-grey,
      border-color: $color--inactive-grey,
      color: $color--base--pure-white,
    )
  ),
  primary-contrasting: (
    initial: (
      color: $color--base--warm-black,
      background-color: $color--base--pure-white,
      icon-color: $color--base--warm-black,
      border-color: $color--base--pure-white,
    ),
    hover: (
      color: $color--base--warm-black,
      background-color: $color--base--pure-white,
      icon-color: $color--base--warm-black,
      border-color: $color--base--pure-white,
      text-decoration: underline,
      text-underline-offset: 6px,
      text-decoration-thickness: 2px,
    ),
    focus: (
      background-color: $color--ui--focus-yellow,
      color: $color--base--warm-black,
      border-color: $color--base--warm-black,
    ),
    active: (
      background-color: $color--base--pure-white,
      border-color: $color--base--pure-white,
      opacity: 0.6,
    ),
    disabled: (
      background-color: $color--inactive-grey,
      border-color: $color--inactive-grey,
      color: $color--base--warm-black,
    )
  ),
  secondary: (
    initial: (
      background-color: transparent,
      border-color: $color--base--warm-black,
      color: $color--base--warm-black,
      icon-color: $color--base--warm-black,
    ),
    hover: (
      text-decoration: underline,
      text-underline-offset: 6px,
      text-decoration-thickness: 2px,
      color: $color--base--warm-black,
      border-color: $color--base--warm-black,
    ),
    focus: (
      background-color: $color--ui--focus-yellow,
      border-color: $color--base--warm-black,
    ),
    active: (
      border-color: $color--base--warm-black,
      background-color: transparent,
      color: $color--base--warm-black,
      opacity: 0.6,
    ),
    disabled: (
      border-color: $color--inactive-grey,
      color: $color--inactive-grey,
    )
  ),
  secondary-contrasting: (
    initial: (
      background-color: transparent,
      border-color: $color--base--pure-white,
      color: $color--base--pure-white,
      icon-color: $color--base--pure-white,
    ),
    hover: (
      text-decoration: underline,
      color: $color--base--pure-white,
      border-color: $color--base--pure-white,
      text-underline-offset: 6px,
      text-decoration-thickness: 2px,
    ),
    focus: (
      background-color: $color--ui--focus-yellow,
      border-color: $color--base--warm-black,
    ),
    active: (
      border-color: $color--base--pure-white,
      background-color: transparent,
      color: $color--base--pure-white,
      opacity: 0.6,
    ),
    disabled: (
      border-color: $color--inactive-grey,
      color: $color--inactive-grey,
    )
  ),
  tertiary: (
    initial: (
      color: $color--base--warm-black,
      icon-color: $color--base--warm-black,
    ),
    hover: (
      text-decoration: underline,
      text-underline-offset: 6px,
      text-decoration-thickness: 2px,
      color: $color--base--warm-black,
    ),
    focus: (
      background-color: $color--ui--focus-yellow,
      border-color: $color--base--warm-black,
      color: $color--base--warm-black,
    ),
    active: (
      background-color: transparent,
      color: $color--base--warm-black,
      opacity: 0.6,
      border-color: trasparent,
    ),
    disabled: (
      color: $color--inactive-grey,
    )
  ),
  tertiary-contrasting: (
    initial: (
      color: $color--base--pure-white,
      icon-color: $color--base--pure-white,
    ),
    hover: (
      color: $color--base--pure-white,
      text-decoration: underline,
      text-underline-offset: 6px,
      text-decoration-thickness: 2px,
    ),
    focus: (
      background-color: $color--ui--focus-yellow,
      border-color: $color--base--warm-black,
      color: $color--base--warm-black,
    ),
    active: (
      background-color: transparent,
      color: $color--base--pure-white,
      opacity: 0.6,
      border-color: trasparent,
    ),
    disabled: (
      color: $color--inactive-grey,
    )
  ),
  admin: (
    initial: (
      background-color: transparent,
      border-color: $color--base--warm-black,
      color: $color--base--warm-black,
    ),
    hover: (
      text-decoration: none,
      color: $color--base--warm-black,
      background-color: $color--light-grey-7,
    ),
    focus: (
      background-color: $color--ui--focus-yellow,
      border-color: $color--base--warm-black,
      color: $color--base--warm-black,
    ),
    active: (
      background-color: transparent,
      color: $color--base--warm-black,
      opacity: 0.6,
    ),
    disabled: (
      color: $color--inactive-grey,
    )
  ),
);


/*
  Config to combine type and color profiles.
  See docroot/themes/custom/aries/source/01-global/scss/general/_buttons.scss
  See docroot/themes/custom/aries/source/00-config/mixins/_buttons.scss
 */
$button-profiles: (
  primary: (
    type-profile: primary,
    color-profile: primary,
  ),
  primary-vibrant: (
    type-profile: primary,
    color-profile: primary,
  ),
  primary-contrasting: (
    type-profile: primary,
    color-profile: primary-contrasting,
  ),
  secondary: (
    type-profile: primary,
    color-profile: secondary,
  ),
  secondary-vibrant: (
    type-profile: primary,
    color-profile: secondary,
  ),
  secondary-contrasting: (
    type-profile: primary,
    color-profile: secondary-contrasting,
  ),
  tertiary: (
    type-profile: tertiary,
    color-profile: tertiary,
  ),
  tertiary-vibrant: (
    type-profile: tertiary,
    color-profile: tertiary,
  ),
  tertiary-contrasting: (
    type-profile: tertiary,
    color-profile: tertiary-contrasting,
  ),
  admin: (
    type-profile: admin,
    color-profile: admin,
  ),
);

span.buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.button {
  @include btn(tertiary);
}

.button.no-icon.no-icon:after {
  content: none;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}


.button.button.no-icon.no-icon {
  div.material-symbols-outlined {
    margin-left: 6px;
  }
  &:has(div.material-symbols-outlined) {
    display: flex;
    align-items: center;
    white-space: nowrap;
    &:hover, &:focus {
      text-decoration: none;
      span {
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 2px;
      }
      div.material-symbols-outlined {
        text-decoration: none;
      }
    }
  }
}

.external.external.external:after {
  content: "\e895";
  font-family: "Material Symbols Outlined";
  transform: none !important;
}
