{# Nav Wrapper #}
{{ attach_library('aries/organism--top-bar') }}
<div class="grid-container">
  <nav class="organism--top-bar">{# Top Bar Links #}
    {% include '@molecule/menu/top-bar/top-bar.twig' %}
  </nav>
</div>

